// Couleurs principales
$primary: #830000;
$secondary: #bd8f8f;
$light: #ffffff;
$dark: #000000;
//polices
$font-base: "Verdana", sans-serif !default;
$font-heading: "Flavors", sans-serif !default;

h1 {
  font-family: $font-heading;
}
